@import 'libs/fontello';
@import 'libs/modern-normalize';
@import 'libs/slick';
@import 'base/animations';
@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carusel';
@import 'blocks/catalog';
@import 'blocks/reviwes';
@import 'blocks/foooter';
@import 'blocks/modal';
@import 'blocks/page_up';
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('fonts/MuseoSansCyrl100.ttf') format('ttf');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl300.ttf') format('ttf');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl500.ttf') format('ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl700.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl900.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
.slick-dots{
    li{
    display: none;
    }
}